@tailwind base;
@tailwind components;
@tailwind utilities;

.note-card {
    max-height: 12rem;
    width: 19rem;
}

.three-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 16rem;
}
